/* Main */
.hero {
	background-color: #fffce8;
}

.header__logo {
	cursor: pointer;
	user-select: none;
}

.hero__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 150%;
	letter-spacing: 0%;
	color: #414141;
	padding-top: 44px;
	margin-bottom: 50px;
}

.hero__card__box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
}

/* Card */
.hero__card {
	position: relative;
	width: 272px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 1px 2px 4px 0px #0000001a;
}

.heart__img {
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 4px;
	background-color: #f3f2f1;
	opacity: 50%;
	border-radius: 4px;
}

.hero__card__bottom {
	padding: 8px;
}

.hero__card__cost {
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: 0%;
	color: #414141;
	margin-bottom: 26px;
}

.marked {
	margin-left: 4px;
}

.hero__card__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	color: #414141;
	margin-bottom: 8px;
}

.flexBox2 {
	display: flex;
	align-items: center;
	gap: 8px;
}

.hero__card__btn {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	text-align: center;
	vertical-align: middle;
	color: #70c05b;
	width: 256px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #70c05b;
	background: none;
	margin-top: 8px;
	transition: 0.7s ease;
	cursor: pointer;
}

.hero__card__btn:hover {
	color: white;
	background-color: #ff6633;
	border: #ff6633;
}

.hero__bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	padding: 64px 0;
}

.hero__bottom__btn {
	border: none;
	background: none;
}

.hero__num {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	color: #606060;
	transition: 0.5s ease;
}

.hero__num:hover {
	cursor: pointer;
	color: #ff6633;
}
