
/* Font Rubik */

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* <<HEADER>> */

.header__container {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background: #ffffff;
  
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__formBox {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__btn {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: white;

  border-radius: 4px;
  background-color: #70c05b;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.header__form {
  width: 375px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #70c05b;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.input {
  border: none;
  outline: none;
  width: 330px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #8f8f8f;
}

.form__btn {
  border: none;
  background-color: white;
  
}

.icon__box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.iconBox__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;

  margin-top: 8px;
  color: #414141;
}

.messages {
  color: white;
  padding: 0px 5px;
  background-color: #ff6633;
  border-radius: 6px;
  position: absolute;
  top: 2px;
  margin-left: 18px;
}

.person__box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.person__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #232323;
}

.btn_katalog{
    margin-top: 24px;
    margin-left: 10px;
background-color: white;
border: none;
cursor: pointer;
mask-repeat: no-repeat;

}
.Frame{
    pointer-events: none;
}


/* main */
.main{
  background-color: #FBF8EC;
}
.hb{
  margin-top: 40px;
  margin-bottom: 50px;
}
.Главная{
background: none;
border: none;
cursor: pointer;
gap: 4px;
margin-top: 20px;

}

.указ{
  background: none;
  border: none;
  cursor: pointer;
  gap: 10px;
}
.Каталог{
  background: none;
  border: none;
  cursor: pointer;
  gap: 4px;
color: #8F8F8F;
&:hover {
  color: #000;
}
}

.cards {
  display: grid;
  grid-template-columns: repeat(16, 1fr); 
  gap: 14px;

}


.card1 {
  grid-column: span 5; 
  height: 170px;
  cursor: pointer;

  border-radius: 12px;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-image: url(../images/eggs.png);
  display: flex;
  align-items: flex-end;
  padding: 16px;
  color:white;
  font-weight: 600;
}
.card2{
  grid-column: span 5; 
  height: 170px;
  cursor: pointer;

  border-radius: 12px;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #70C05B;
  background-image: url(../images/img@2x.png);
  display: flex;
  align-items: flex-end;
  padding: 16px;
  color:white;
  font-weight: 600;
}
.card3{
  grid-column: span 5; 
  height: 170px;
  cursor: pointer;

  border-radius: 12px;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #70C05B;
  background-image: url(../images/ovoshi.png);
  display: flex;
  align-items: flex-end;
  padding: 16px;
  color:white;
  font-weight: 600;
}
.card4{
  grid-column: span 5; 
  height: 170px;
  cursor: pointer;

  border-radius: 12px;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #70C05B;
  background-image: url(../images/imgvv.png);
  display: flex;
  align-items: flex-end;
  padding: 16px;
  color:white;
  font-weight: 600;
   grid-column: span 4;
}

.card5{
  grid-column: span 5; 
  height: 170px;
  cursor: pointer;

  border-radius: 12px;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #70C05B;
  background-image: url(../images/napitki.png);
  display: flex;
  align-items: flex-end;
  padding: 16px;
  color:white;
  font-weight: 600;
   grid-column: span 4;
}

.card6{
  grid-column: span 5; 
  height: 170px;
  cursor: pointer;

  border-radius: 12px;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #70C05B;
  background-image: url(../images/sladosti.png);
  display: flex;
  align-items: flex-end;
  padding: 16px;
  color:white;
  font-weight: 600;
   grid-column: span 4;
}

.card7{
  grid-column: span 5; 
  width: 262px;
  height: 170px;
  cursor: pointer;

  border-radius: 12px;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #70C05B;
  background-image: url(../images/cooofee.png);
  display: flex;
  align-items: flex-end;
  padding: 16px;
  color:white;
  font-weight: 600;
   grid-column: span 4;
   padding-right: 200px;
}
.card8{
  grid-column: span 5; 
  height: 170px;
  cursor: pointer;

  border-radius: 12px;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #70C05B;
  background-image: url(../images/bakalea.png);
  display: flex;
  align-items: flex-end;
  padding: 16px;
  color:white;
  font-weight: 600;
   
}
.card9{
  grid-column: span 5; 
  height: 170px;
  cursor: pointer;

  border-radius: 12px;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #70C05B;
  background-image: url(../images/pitanie.png);
  display: flex;
  align-items: flex-end;
  padding: 16px;
  color:white;
  font-weight: 600;
 
}
.card10{
  grid-column: span 5; 
  height: 170px;
  cursor: pointer;

  border-radius: 12px;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #70C05B;
  background-image: url(../images/zoo.png);
  display: flex;
  align-items: flex-end;
  padding: 16px;
  color:white;
  font-weight: 600;
   
}

.card11{
  grid-column: span 5; 
  height: 170px;
  cursor: pointer;

  border-radius: 12px;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
  background-image: url(../images/detskiy.png);
  display: flex;
  align-items: flex-end;
  padding: 16px;
  color:white;
  font-weight: 600;
  
}

.card12{
  grid-column: span 5; 
  height: 170px;
  cursor: pointer;

  border-radius: 12px;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #70C05B;
  background-image: url(../images/kolbasa.png);
  display: flex;
  align-items: flex-end;
  padding: 16px;
  color:white;
  font-weight: 600;
  
}

.card13{
  grid-column: span 5; 
  height: 170px;
  cursor: pointer;
  
  border-radius: 12px;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #70C05B;
  background-image: url(../images/drugie.png);
  display: flex;
  align-items: flex-end;
  padding: 16px;
  color:white;
  font-weight: 600;
   
}
/* Footer */
.footer__container {
  background-image: url("../images/footer\ bg.svg");
  background-color: #f9f4e2;
  height: 126px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 24px;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 133px;
}

.footer__left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__left__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #414141;
}

.footer__right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.social__box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.phone__box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.phone__num {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #414141;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 130px;
  margin-top: 16px;
  gap: 8px;
}


