/* Font Rubik */

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* <<HEADER>> */

.header__container {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background: #ffffff;
  box-shadow: 2px 4px 8px 0px #0000001a;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__formBox {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__btn {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: white;
  /* padding: 8px; */
  border-radius: 4px;
  background-color: #70c05b;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.header__form {
  width: 375px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #70c05b;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.input {
  border: none;
  outline: none;
  width: 330px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #8f8f8f;
}

.form__btn {
  border: none;
  background-color: white;
  /* margin-top: 4px; */
}

.icon__box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.iconBox__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  /* text-align: center;
  vertical-align: middle; */
  margin-top: 8px;
  color: #414141;
}

.messages {
  color: white;
  padding: 0px 5px;
  background-color: #ff6633;
  border-radius: 6px;
  position: absolute;
  top: 2px;
  margin-left: 18px;
}

.person__box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.person__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #232323;
}

.btn_katalog{
    margin-top: 24px;
    margin-left: 10px;
background-color: white;
border: none;
cursor: pointer;
mask-repeat: no-repeat;

}

/* Footer */
.footer__container {
  background-image: url("../images/footer\ bg.svg");
  background-color: #f9f4e2;
  height: 126px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 24px;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 133px;
}

.footer__left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__left__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #414141;
}

.footer__right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.social__box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.phone__box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.phone__num {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #414141;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 130px;
  margin-top: 16px;
  gap: 8px;
}
