/* Font Rubik */

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;

}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  
}

/* <<HEADER>> */

.header__container {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background: #ffffff;
  box-shadow: 2px 4px 8px 0px #0000001a;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__formBox {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__btn {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: white;
  /* padding: 8px; */
  border-radius: 4px;
  background-color: #70c05b;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.header__form {
  width: 375px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #70c05b;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.input {
  border: none;
  outline: none;
  width: 330px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #8f8f8f;
}

.form__btn {
  border: none;
  background-color: white;
  /* margin-top: 4px; */
}

.icon__box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.iconBox__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  /* text-align: center;
  vertical-align: middle; */
  margin-top: 8px;
  color: #414141;
}

.messages {
    color: white;
    padding: 0px 5px;
    background-color: #FF6633;
    border-radius: 6px;
    position: absolute;
    top: 2px;
    margin-left: 18px;
   
}

.person__box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.person__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #232323;
}

/* <<MAIN>> */

.hero__container {
  padding: 44px 116px 62px 116px;
  background-color: #fffce8;
}

.hero__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #414141;
  margin-bottom: 50px;
}

.hero__card__box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}


/* Card */
.hero__card {
  position: relative;
  width: 272px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px #0000001A;
}

.heart__img {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px;
  background-color: #f3f2f1;
  opacity: 50%;
  border-radius: 4px;
}

.hero__card__bottom {
  padding: 8px;
}

.hero__card__cost {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #414141;
  margin-bottom: 26px;
}

.marked {
  margin-left: 4px;
}

.hero__card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #414141;
  margin-bottom: 8px;
}

.flexBox2 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero__card__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #70c05b;
  width: 256px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #70C05B;
  background: none;
  margin-top: 8px;
  transition: 0.7s ease;

  &:hover {
    color: white;
    background-color: #FF6633;
    border: #FF6633;
  }
}

.hero__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 64px;
}

.hero__bottom__btn {
    border: none;
    background: none;
}

.hero__num {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0%;
color: #606060;
transition: 0.5s ease;

&:hover {
    cursor: pointer;
    color: #FF6633;
}
}

/* Footer */ 
.footer__container {
  background-image: url('../images/footer\ bg.svg');
  background-color: #F9F4E2;
  height: 126px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 24px;

}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 133px;
}

.footer__left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__left__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #414141;
}

.footer__right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.social__box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.phone__box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.phone__num {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #414141;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 130px;
  margin-top: 16px;
  gap: 8px;
}